*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Colors */

/* Primary */

$Linear-Gradient: hsl(236, 72%, 79%);
$Linear: hsl(237, 63%, 64%);

/* Neutral */
$white:white;
$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-lue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);


body{
    background-color: $Very-Light-Grayish-Blue;
    background-image: url(../images/bg-top.svg) ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%  ;
    width: 100vw;

    //header

    header{
        width: 100%;
        padding: 4rem 0;
        h1{
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $Grayish-Blue;
            font-size: 7vmin;
        }
        .pick{
            padding: 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            p{
                font-size: 3.3vmin;
                color: $Light-Grayish-lue;
            }
        }
        // button animation
        .btn{
            width: 2.5rem;
            padding: .2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10rem;
            background-color: $Linear-Gradient;
            
            input[type='radio']:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -1px;
                left: -1px;
                position: relative;
                background-color:$Linear-Gradient;
                content: '';
                display: inline-block;
                visibility: visible;
                
            }
        
            input[type='radio']:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -1px;
                left: -1px;
                position: relative;
                background-color: $white;;
                content: '';
                display: inline-block;
                visibility: visible;
                ;
            }
        }

    }


    //main


    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 1rem;
        .dolar{
            font-size: 10vmin;
        }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $white;
            border-radius: .5rem;
            width: 100%;
            padding: 1rem;
            box-shadow: 0px 0px 12px 0px #000;
            
            p{
                font-size: 3.3vmin;
                padding: 1rem 0;
                color: $Grayish-Blue;
                width: 100%;
                text-align: center;
            }
            h1{
                font-size: 17vmin;
                color: $Dark-Grayish-Blue;
            }
            p:nth-child(3),p:nth-child(4),p:nth-child(5){
                border-bottom: 2px solid $Light-Grayish-lue;
            }
            .button{
                width: 100%;
                padding: 1rem 0;
                button{
                    width: 100%;
                    height: 2.5rem;
                    color: $white;
                    background-color: $Linear;
                    border-radius: .5rem;
                    border: none;
                    border: 1px solid $Linear;
                    &:hover{
                        color: $Linear;
                        background-color: $white;
                    }
                    
                }
            }

        }

        .card-2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:$Linear ;
            border-radius: .5rem;
            width: 100%;
            padding: 1rem;
            box-shadow: 0px 0px 12px 0px #000;
            
            p{
                font-size: 3.3vmin;
                padding: 1rem 0;
                color: $white;
                width: 100%;
                text-align: center;
            }
            h1{
                font-size: 17vmin;
                color: $white;
            }
            p:nth-child(3),p:nth-child(4),p:nth-child(5){
                border-bottom: 2px solid $Linear-Gradient;
            }
            .button{
                width: 100%;
                padding: 1rem 0;
                button{
                    width: 100%;
                    height: 2.5rem;
                    color: $Linear;
                    background-color: $white;
                    border-radius: .5rem;
                    border: none;
                    border: 1px solid $white;
                    &:hover{
                        color: $white;
                        background-color: $Linear;
                    }
                    
                }
            }

        }

        .card-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $white;
            border-radius: .5rem;
            width: 100%;
            padding: 1rem;
            box-shadow: 0px 0px 12px 0px #000;
            p{
                font-size: 3.3vmin;
                padding: 1rem 0;
                color: $Grayish-Blue;
                width: 100%;
                text-align: center;
            }
            h1{
                font-size: 17vmin;
                color: $Dark-Grayish-Blue;
            }
            p:nth-child(3),p:nth-child(4),p:nth-child(5){
                border-bottom: 2px solid $Light-Grayish-lue;
            }
            .button{
                width: 100%;
                padding: 1rem 0;
                button{
                    width: 100%;
                    height: 2.5rem;
                    color: $white;
                    background-color: $Linear;
                    border-radius: .5rem;
                    border: none;
                    border: 1px solid $Linear;
                    &:hover{
                    color: $Linear;
                    background-color: $white;
                    }
                    
                }
            }

        }
    }
}


//media


@media (min-width: 768px){
    
  body{
      height: 100vh;

      //header
      

      header{
          padding: 1rem 0;
        h1{
            
            font-size: 2vmax;
        }
        .pick{
            p{
                font-size: 1.5vmax;
            }
        }
      }

      //main


      main{
          flex-direction: row;
          width: 80%;
          gap: 0;
          margin: auto;
          .dolar{
            font-size: 2.5vmax;
        }
          .card,.card-2,.card-3{
            p{
                font-size: 1vmax;
                padding: 1rem 0;
                width: 100%;
                text-align: center;
            }
            h1{
                font-size: 4vmax;
            }
          }
          .card{
              width: 35%;
              border-radius: 10px 0px 0px 10px;
          }
          .card-3{
            width: 35%;
            border-radius: 0px 10px 10px 0px;
          }
          .card-2{
            width: 30%;
            height: 25rem;
            position: relative;
          }
          button{
              font-size: 1vmax;
          }
      }

  }
}


