* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: #121417;
  height: 100vh;
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.card {
  background-color: #252d37;
  width: 24.5rem;
  border-radius: 2rem;
  padding: 2rem;
}

/* icon */
.icon {
  padding-bottom: 2rem;
}

.icon img {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 2vmin;
  background-color: rgba(96, 107, 123, 0.164);
}

.container {
  padding-bottom: 2rem;
}

.container h1 {
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: .5rem;
  color: white;
}

.container p {
  font-size: 15px;
  color: #7c8798;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

.number input {
  display: none;
}

.number label {
  border: 1px solid rgba(96, 107, 123, 0.164);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: 700;
  background-color: rgba(96, 107, 123, 0.164);
  color: #7c8798;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.number label:hover {
  background-color: #fb7413;
  color: white;
}

.number input:checked + label {
  background: #7c8798;
  color: white;
}

/* button */
.btn {
  width: 100%;
}

.btn button {
  font-size: .9rem;
  font-weight: 700;
  padding: .7rem 3rem;
  border-radius: 2rem;
  width: 100%;
  background-color: #fb7413;
  color: white;
  border: none;
  letter-spacing: 2px;
}

.btn button:hover {
  background-color: white;
  color: #fb7413;
}

/* tanks page  */
.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.image img {
  width: 35vmin;
}

.selected {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5vmin;
  border: 1px solid rgba(96, 107, 123, 0.164);
  border-radius: 2rem;
  width: 35vmin;
  font-weight: 500;
  padding: .5rem;
  color: #fb7413;
  background-color: rgba(96, 107, 123, 0.164);
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text h1 {
  font-size: 5vmin;
  padding-bottom: 1rem;
  color: white;
}

.text p {
  font-size: 2.7vmin;
  text-align: center;
  color: #7c8798;
  line-height: 1.5;
}

#secend {
  display: none;
}
/*# sourceMappingURL=main.css.map */