*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$primary-color:hsl(25, 97%, 53%);
$white-colr:hsl(0, 0%, 100%);
$Light_Grey-color: hsl(217, 12%, 63%);
$Medium_Grey-color: hsl(216, 12%, 54%);
$Dark_Grey-color: hsla(216, 12%, 43%, 0.164);
$Dark_Blue-colr: hsl(213, 19%, 18%);
$Very_Dark_Blue-color: hsl(216, 12%, 8%);
body{
    font-family: 'Overpass', sans-serif;
    background-color: $Very_Dark_Blue-color;
}
.position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color:$Dark_Blue-colr ;
    width: 24.5rem;
    border-radius: 2rem;
    padding: 2rem;
}
/* icon */
.icon{
    padding-bottom: 2rem;
    img{
    display: block;
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2vmin;
    background-color: $Dark_Grey-color;
    }
    }

.container{
    padding-bottom: 2rem;
    
    h1{
        font-size: 1.6rem;
        font-weight: 700;
        padding-bottom: .5rem; 
        color: $white-colr; 
    }
    p{
        font-size:15px;  
        color: $Medium_Grey-color;
    }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    input{
        display: none;
    }
    label{
        border: 1px solid $Dark_Grey-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-weight: 700;
        background-color: $Dark_Grey-color;
        color: $Medium_Grey-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: $primary-color;
            color: $white-colr;
        }
        
    }
    input:checked + label{
        background: $Medium_Grey-color;
        color: $white-colr;
    }

}
/* button */
.btn{
    width: 100%;
    button{
        font-size: .9rem;
        font-weight: 700;
        padding: .7rem 3rem;
        border-radius: 2rem;
        width: 100%;
        background-color: $primary-color;
        color: $white-colr;
        border: none;
        letter-spacing: 2px;
        &:hover{
            background-color: $white-colr;
            color: $primary-color;
        }
    }
}

/* tanks page  */

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    img{
        width: 35vmin;
    }
}
.selected{
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vmin;
        border: 1px solid $Dark_Grey-color;
        border-radius:2rem ;
        width: 35vmin;
        font-weight: 500;
        padding: .5rem;
        color: $primary-color;
        background-color: $Dark_Grey-color;
    }
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 5vmin;
        padding-bottom: 1rem;
        color: $white-colr;
    }
    p{
        font-size: 2.7vmin;
        text-align: center;
        color: $Medium_Grey-color;
        line-height: 1.5;
    }
}

