*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;  
}

/* Colors */

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

/* header */

header {
    width: 100vw;
    height: 70px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .header-left{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .logo {
                h2{
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $Almost-Black;
                }
            }
            .navs{
                display: none;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                a{
                    text-decoration: none;
                    color: $Medium-Gray;
                    font-size: 1vmax;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
       .header-right{
           .log-reg{
                display: none;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                a{
                     text-decoration: none;
                     color: $Medium-Gray;
                     font-size: 1vmax;
                }
                .register{
                    border: 1px solid $Medium-Gray;
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                }
           }
          
           }
       }
    }


main {
    width: 100vw;
    .image-hero{
            background-image: url(../images/image-hero-mobile.png);
            width: 100vmin;
            height: 100vmin;
            background-size:     contain;                     
            background-repeat:   no-repeat;
            background-position: center center;

    }
    .section-hero {
        article{
       
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 9vmin;
                font-weight: 700;
                color: $Almost-Black;
                text-align: center;
                margin-bottom: 1rem;
            }
            p{
                font-size: 4vmin;
                color: $Medium-Gray;
                text-align: center;
                line-height: 2;
                margin-bottom: 1rem;
                padding: 0 1.3rem;
            }
            .button{
                display:flex;
                justify-content: center;
                align-items: center;
                
            }
            button{
                font-size: 4vmin;
                font-weight: 700;
                color: $Almost-White;
                width: 35vmin;
                background-color: $Almost-Black;
                border: none;
                padding: 0.7rem 0;
                border-radius: 10px;
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
        footer{
            width: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2rem;
            gap: 1rem;
            img{  
                width: 3.5rem;
            }
        }
    }

}

/* media */
@media (min-width: 768px) {
    .hamburger{
    display: none;
    }

    main{
        padding: 0 4rem;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        .image-hero{
            background-image: url(../images/image-hero-desktop.png);
            width: 40%;
            height: 70vmin;
        }  
        .section-hero{
           display: flex;
              flex-direction: column;
                justify-content: flex-end;
                align-items: center;
            width:60%;
            height: 70vmin;
            padding: 0 1rem;
            article{
                width: 90%;
                padding-bottom: 3rem;
                h1{
                    font-size: 5vmax;
                    text-align: start;
                }
                p{
                    font-size: 1.3vmax;
                    text-align: start;
                    padding-left: 0;
        
                    line-height: 1.5;
                    
                }
                .button{
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    button{
                        font-size: .7rem;
                        width: 7rem;
                        height: 2rem;
                    }
                }
            }
            footer{
                   padding: 0;
                   width: 90%;
                img{
                    width: 3rem;
                    
                }
            }
        } 
    }
}
