* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: 'Epilogue', sans-serif;
}

/* Colors */
/* header */
header {
  width: 100vw;
  height: 70px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

header nav .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

header nav .header-left .logo h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #141414;
}

header nav .header-left .navs {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

header nav .header-left .navs a {
  text-decoration: none;
  color: dimgray;
  font-size: 1vmax;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav .header-right .log-reg {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

header nav .header-right .log-reg a {
  text-decoration: none;
  color: dimgray;
  font-size: 1vmax;
}

header nav .header-right .log-reg .register {
  border: 1px solid dimgray;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

main {
  width: 100vw;
}

main .image-hero {
  background-image: url(../images/image-hero-mobile.png);
  width: 100vmin;
  height: 100vmin;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

main .section-hero article {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section-hero article h1 {
  font-size: 9vmin;
  font-weight: 700;
  color: #141414;
  text-align: center;
  margin-bottom: 1rem;
}

main .section-hero article p {
  font-size: 4vmin;
  color: dimgray;
  text-align: center;
  line-height: 2;
  margin-bottom: 1rem;
  padding: 0 1.3rem;
}

main .section-hero article .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-hero article button {
  font-size: 4vmin;
  font-weight: 700;
  color: #fafafa;
  width: 35vmin;
  background-color: #141414;
  border: none;
  padding: 0.7rem 0;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-hero footer {
  width: 100%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
}

main .section-hero footer img {
  width: 3.5rem;
}

/* media */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  main {
    padding: 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .image-hero {
    background-image: url(../images/image-hero-desktop.png);
    width: 40%;
    height: 70vmin;
  }
  main .section-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 70vmin;
    padding: 0 1rem;
  }
  main .section-hero article {
    width: 90%;
    padding-bottom: 3rem;
  }
  main .section-hero article h1 {
    font-size: 5vmax;
    text-align: start;
  }
  main .section-hero article p {
    font-size: 1.3vmax;
    text-align: start;
    padding-left: 0;
    line-height: 1.5;
  }
  main .section-hero article .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .section-hero article .button button {
    font-size: .7rem;
    width: 7rem;
    height: 2rem;
  }
  main .section-hero footer {
    padding: 0;
    width: 90%;
  }
  main .section-hero footer img {
    width: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */